#BLOG{
    margin-top: 2px;
    margin-left: 19vh;
    margin-right: 19vh;
}
#BLOG2{
    margin-left: 19vh;
    margin-right: 19vh;
}
#A{
    text-align: center;
}
#E{
    text-align: center;
    color: white;
}
.eso{
    background-color: red;
    padding: 1%;
    margin: 1%;
    margin-bottom: 1%;
}
#TENEDOR{
    margin: 5% auto;
    width: 80%;
}
#colorb{
    color: white;
    text-align: center;
}
#MARGENALOPENDEJO{
    margin-left: 135px;
    margin-right: 113px;
}
#tetenedor{
    margin-left: 113px;
    margin-right: 113px;
}
body{
    background-image: url(https://hanadultalk.files.wordpress.com/2021/10/tokio-1-1.png?w=1002);
    background-repeat: no-repeat;
    background-size: cover;
}
#textoo{
    color: white;
}
#elelele{
    color: white;
}
#registroxd{
    color: white;
}